body{
    min-height: 100vh;
    height: 2000px;
    position: relative;
}

body{

}
main{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sectionJogo{
  
    
}
#Jogo{
    background-color: aqua;
    width: 90%;
    height: 500px;

}
#nomeVoto{
    align-items: center;
   text-transform: uppercase;
    display: flex;
   justify-content: space-between;
    width: 90%;
}

#NameJogo{
    font-family: var(--valera);
}
/*estrelas */
.avaliacao{
    display: flex;
   }
  .star-icon{
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: gold;
    font-size: 40px;/* alterar o tamanho das estrelas */
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }
  
/* fim estrelas */

/*section links e comentarios */


#JgAndComents{
    width: 90%;
    height: 500px;
   
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex ;
   
}
#linkJogos{
   
  width: 60%;
  padding: 10px;

}
/*link jogos*/
#img-span{
  width: 100px;
  height: 100px;
  display: flex;
  margin: 5px;
  margin-top: 25px;
  overflow: hidden;
  
}
#guardaLink{
  display: flex;
 
 height: 80%;
 overflow-y: scroll;
 
 flex-wrap: wrap;
}
a{
  list-style: none;
}

#linkA{
  width: 100px;
  height: 100px;
  position: relative;
}








/*comentarios */
#coments{
  width:40%;

  height: 500px;
}
#guardaTudoComents{

}
#txtComents{
  text-align: center;
  padding-top: 20px;
  font-family: var(--valera);
}
#txt-linkJogos{
  font-family: var(--valera);
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
}



#cinzaComents{
 width:100%;
background-color: yellowgreen;
  margin: 5px;
  
  overflow: hidden;
 padding: 20px;
  border-radius: 50px;
  background-image: linear-gradient(-45deg, rgb(222, 192, 255), rgb(213, 213, 213));
}
#guardaTudoDialogo{
width: 100%;
height: 80%;

overflow-y: scroll ;
overflow-x: hidden;
padding-bottom: 60px;

}
#guardaTudoDialogo::-webkit-scrollbar {
  display: none;
}
#guardaTudoDialogo {
  scrollbar-width: none; /* Para navegadores que suportam a propriedade scrollbar-width */
  -ms-overflow-style: none; /* Para o Internet Explorer e Edge */
  overflow: -moz-scrollbars-none; /* Para o Firefox */
}

#envioComent{
  display: flex;
  align-items: center;
  
}

#inputComments{
  outline: 2px dotted rgb(195, 195, 255);
 margin: 10px;
width: 80%;
padding: 20px;
background-color: #ffffff;
border: none;

}
#submitEnviar{
  padding: 2px;
  background-color: none;
  border: none;
  outline: 2px dotted rgb(195, 195, 255);
}
#submitEnviar:hover{
  outline: 2px dotted rgb(53, 255, 53);
}
#inputComments:focus{
  outline: 2px dotted rgb(53, 255, 53);
}



#cinzaComents{
  height: 800px;
}
.dialogo1{
  margin-bottom: 5px;

padding: 10px;
  height: 150px;
  background-color: #fddfdf;
}
.dialogo1:nth-child(odd) {
  background-color: #e2fbfb;
}
#guardaLI{
  width: 100%;

  display: flex;
  justify-content: flex-start;
  height: 20px;
}
#fImgMe{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 120px;
  height: 120px;


}
#fundodaImg{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
#letras{
  display: flex;
  justify-content: start;
  font-family: var(--valera);
  font-size: 15px;
  
}
#titulo{
  color: #9e9e9e;
  margin-right: 3px;
  padding-left: 5px;
}
#name{
  color: rgb(121, 33, 132);
}
#usercoments{

padding-top: 10px;
height: 95px;
color:rgb(54, 54, 54) ;
  padding-left: 130px;
  font-size: 14px;
  font-family: 'arial';
  overflow: hidden;
}
#dataHorario{
  color: #9e9e9e;
 
  display: flex;
  justify-content: end;
  justify-content: flex-end;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif ;
}


