:root{
    --main: #66FFFF;
    --color2:#8CBFE6;
    --color3:#B380CC;
    --color4:#D940B3;
    --color5:#FF0099;
    --color6:#622323;
    --color7:#E2E3E4;
    --cololor8:#EAF2EF;
    --studly: studly;
    --valera: valera;
}

@font-face {
    font-family: studly;
    src: url(Fonts/Studly\ Regular.otf);
}
@font-face {
    font-family: valera;
    src: url(Fonts/VarelaRound-Regular.ttf);
}/*>>>>>>>>>>>>>>>>>SECTION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


.pai section{
    width: 100%;
    display: table;
    margin: 0 auto;

}
/*IMAGEN hello<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#hello{
    max-width: 100%;
}
.pai section #blocoCinza img{
    
 
    display: table;
    margin: 0 auto;
    padding: 40px 0px;
}
.imgs{
    max-width: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>> todos os Textos<<<<<<<<<<<<<<<<<<<<<*/
.text{
    color: var(--color3);
    font-family: valera;
    text-align: center;
    font-size: 200%;

}
.pai section #texttop{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
   font-size: 40px;
   
}

/*formulario<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
section{
    padding-top: 50px;
}
.pai section #blocoCinza {
   
    background-color: rgb(228, 228, 228);
    border-radius: 40px;
   padding: 5%;
   margin: 0 auto;
   display: table;
   width: 30%;
   
   
}

.pai section #blocoCinza form {
   width: 100%;
    height: 600px;
    display: table;
   margin: 0 auto;
   color:#FF0099;
   font-family: valera;
   font-size: 105%;
   
    
}


.pai section #blocoCinza form input{
   width: 88%;
  padding: 5%;
   border: none;
   font-size: 20px;
   margin: 5px;
   background-color: var(--cololor8);
   outline: none;
   border-bottom: solid rgb(0, 255, 242);
   color: #D940B3;
   overflow: hidden;

}
.alinhar_inputs{
    width: 100%;

}
.alinhar{
    width: 100%;
   
}

.pai section #blocoCinza form input::placeholder{
    color: rgb(170, 170, 170);
}

.pai section #blocoCinza form input:focus-within{
   border-bottom: solid rgb(247, 0, 255);
   
}

.pai section #blocoCinza form label{
    padding-top: 10px;
    display: block;

    margin: 1%;


}
/*______CARROUSEL______________*/
#pai-Carrousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.carrousel{
 
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color7);
    height: 150px;
    width:95%;
    background-color: #d8d8d8;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    
}
.img-carrousel{
  padding: 10px;
   position: absolute;
    max-height: 100px;
    overflow: hidden;
     display: flex;
     transition: transform 0.5s ease;
    margin: 20px;
   
}

/*div individual*/
.img-div{
    position: relative;
    display: flex;
    margin: 2px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
   
    border-radius: 50px;
   border: solid 3px rgba(255, 255, 255, 0);
   overflow: hidden;
   transition: linear 0.5s;
}

/*sprites*/
.imgs{
    position: absolute;
    bottom: -42%;
    left: -1.5px;
    width: 105px;
    height: 105px;

}

#estrada{
    transition: linear 0.5s;
}
/*botoes*/

.btns{
    margin:  0 auto;
    width: 75%;
   
    

}
#btnAvanço{
  
    display: flex;
   margin: 30px;
   display: flex;
   justify-content: end;

}
#btn1{
    border-radius: 40px;
    padding: 15px;
    font-family: var(--studly);
    font-size: large;
    color: var(--cololor8);
    border: none;
    background-color: var(--color3);
    transition: linear 1s;
}
#btn1:hover{
    background-color: var(--color2);
    color: #fff;
    box-shadow: 0 0 1px 5px rgb(103, 187, 255);
}
#txt{
    text-align: center;
    padding: 15px;
    font-family: var(--valera);

    color: var(--color3);
}
#btnLogin{
    display: flex;
    justify-content: center;
   
}
#btnLogin{
    display: flex;
    justify-content: center;
}
#btnLogin button{
height: 50px;
color: var(--color5);
transition: ease-out 1s;
border: solid 2px var(--color3);
padding: 5px;
margin-top: 20px;
border-radius: 30px;
width: 120px;
font-size: 20px;
font-family: var(--studly);

}
#btnLogin img{
    width: 70px;
    height: 70px;

}
#btnLogin button:hover{
    background: rgb(255, 61, 61);
    color: var(--color7);
    border: none;
    box-shadow: 0 0 1px 5px red;
}
/*flooter final*/
footer {
    
    bottom: 0;
    left: 0;
}
footer #filho-footer{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: #FFE7F0;
}

footer #filho-footer #text-footer{
    width: 100%;
    
    height: 30px;

}
footer #filho-footer #text-footer h2{
padding: 30px;
}

.footer-imgs{
    width: 100%;
   
    height: 200px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
}

.footer-imgs ul{

display: flex;

}

.footer-imgs ul li{
    padding: 0px 40px;
    list-style: none;
}



footer #filho-footer .footer-imgs  img {
    max-width: 70%;
    
} 

footer #filho-footer .imgPhone {
    width: 50px;
    height: 50px;
   
    position: absolute;
}
footer #filho-footer .imgPhone img{
   max-width: 300px;
   max-height: 300px;
   top: -100px;
   position: absolute;
  
  

}
.pngs :hover{
    transform: scale(1.1);
}

footer .final{
    width: 100%;
    height: 40px;
    background-color: #B380CC;
  
    text-align: center;
   

}

footer .final h5{
padding-top: 10px;
color: white;
font-family: Arial, sans-serif;
font-size: 90%;
}

/*Parada */

@media (max-width: 937px) {
    .imgPhone {
      display: none;
    }
  }
  
 
  
  @media (min-width: 937px) and (max-width: 1000px) {
    .imgPhone {
        display: block;
      }
      
  }
  
  
  @media (max-width: 700px) {
    .text{
        font-size: 150%;
      
    
    }
   
   
   
    .footer-imgs ul li{
        padding: 0px 10px;
        list-style: none;
    }
  }
  @media (max-width: 750px) {
    .text{
        font-size: 150%;
      
    
    }
    .pai section #blocoCinza {
   
       width: 80%;
       
       
    }
    #hello{
        width: 70%;
    }
}
@media (max-width: 900px) {
    .text{
        font-size: 150%;
      
    
    }
   
    
   
  }
  @media (max-width: 300px) {
    .text{
        font-size: 70%;
      
    
    }
  }

  